<footer class="bg-amazon_blue-light text-white p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="font-weight-bold mb-3">Let Us Help You</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Your Account</a></li>
          <li><a href="#" class="text-white">Your Orders</a></li>
          <li>
            <a href="#" class="text-white">Shipping Rates & Policies</a>
          </li>
          <li><a href="#" class="text-white">Returns & Replacements</a></li>
          <li>
            <a href="#" class="text-white">Manage Your Content and Devices</a>
          </li>
          <li><a href="#" class="text-white">Help</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="font-weight-bold mb-3">Get to Know Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Careers</a></li>
          <li><a href="#" class="text-white">Blog</a></li>
          <li><a href="#" class="text-white">About Famazon</a></li>
          <li><a href="#" class="text-white">Investor Relations</a></li>
          <li><a href="#" class="text-white">Famazon Devices</a></li>
          <li><a href="#" class="text-white">Famazon Science</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="font-weight-bold mb-3">Make Money with Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Sell on Famazon</a></li>
          <li>
            <a href="#" class="text-white">Sell Your Services on Famazon</a>
          </li>
          <li>
            <a href="#" class="text-white">Sell on Famazon Business</a>
          </li>
          <li>
            <a href="#" class="text-white">Sell Your Apps on Famazon</a>
          </li>
          <li><a href="#" class="text-white">Become an Affiliate</a></li>
          <li>
            <a href="#" class="text-white">Advertise Your Products</a>
          </li>
          <li><a href="#" class="text-white">Self-Publish with Us</a></li>
          <li><a href="#" class="text-white">Host an Famazon Hub</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="font-weight-bold mb-3">Famazon Payment Products</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Famazon Business Card</a></li>
          <li><a href="#" class="text-white">Shop with Points</a></li>
          <li><a href="#" class="text-white">Reload Your Balance</a></li>
          <li>
            <a href="#" class="text-white">Famazon Currency Converter</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2024 Fake Amazon. All rights reserved.</p>
    </div>
  </div>
</footer>
