<section class="mx-4">
  <h2 class="h4 font-weight-bold mb-3">Popular Products</h2>
  <div class="row">
    @for (product of products; track product; let i = $index) {
    <div class="col-md-3 mb-4">
      <div class="card h-100 ">
        <a [routerLink]="['/details', i]">
          <div class="image-container">
            <img [src]="product.image" alt="Product Image" class="card-img-top" />
          </div>
        </a>
     <div class="card-body d-flex flex-column">  
          <h5 class="card-title">{{product.name}}</h5>          
          @if (product.inStock == true) {
          <p class="card-text text-muted">{{product.price| currency}}</p>
          <button class="btn btn-warning mt-auto"(click)="addToCart(i)">Add to Cart</button>}@else {
          <h2 class="link-danger mt-auto">Sold Out</h2>
          }

        </div>
      </div>
    </div>}
   </div>
   <div class="my-3">
  <app-featured></app-featured>
  </div>
</section>
